

@font-face {
    font-family: poppins;
    src: url(./font/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(./font/Poppins-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./font/roboto/Roboto-Medium.ttf);
}

:root{
    --barcolor: rgb(243, 235, 235);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

main {
    width: 100vw;
    height: 100vh;
}

main .container{
    width: 100%;
    height: 100%;
    background-color: rgb(75, 48, 48);
    /* padding: 30px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}


.container .right-container{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(247, 215, 215);
    float: right;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow: auto;
}

.container .right-container::-webkit-scrollbar{
    width: 5px;
}

.container .right-container::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.521);
}








.container .note-container{
    width: calc((100% -0px)/ 4 );
    height: 350px;
    background-color: white;
    margin: 10px;
    position: relative;
    border-radius: 5px;
}

.note-container .bar{
    width: 100%;
    height: 30px;
    background-color: rgb(38, 110, 110);
    border-top-left-radius: 5px;
}

.note-container .bar .iconsSite{
    width: 65px;
    height: 100%;
    /* background-color: brown; */
    float: right;
    display: flex;
    border-right: 3px solid white;
    /* margin-right: 5px; */
}

.iconsSite .con{
    flex: 1;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.iconsSite  .con:hover{
    background-color: rgb(117, 116, 116);
}

.iconsSite .saveCon svg, .closeCon svg{
    width: 12px;
    fill: white;
}
.iconsSite .editCon svg{
    width: 15px;
    fill: white;
}

.note-container .text-site{
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgb(137, 214, 214);
    border-radius: 5px;
}

.text-site textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 15px;
    font-family: roboto, sans-serif;
}

.note-container .save-site{
    width: 100%;
    /* height: 40px; */
    /* background-color: green; */
    position: absolute;
    bottom: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px -2px 1px rgba(0, 0, 0, 0.5);
}

.save-site input[type="text"]{
    width: 80%;
    padding: 5px 10px;
    border: 0px solid rgb(32, 32, 32);
    border-radius: 5px;
    outline: 0;

}

.save-site input[type="button"]{
    /* width: 27%; */
    padding: 5px 13px;
    background-color: red;
    border: 0;
    outline: none;
    color: white;
}







/* Menu Container */


.menu{
    width: 60px;
    height: 100vh;
    background-color: var(--barcolor);
    position: absolute;
    left: 0;
}

.menu .logo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .lg{
    width: 40px;
    /* height: 40px; */
    border-radius: 50%;
    /* background-color: brown; */
}

.lg img{
    width: 40px;
    /* height: 40px; */
}
.menu .icons{
    width: 100%;
    height: 200px;
    /* background-color: red; */
}



.icons li{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    position: relative;
    cursor: pointer;
}


.icons li .iconContainer{
    width: 60px;
    height: 100%;
    position: absolute;
    background-color: var(--barcolor);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    z-index: 20;
}

.icons li:hover .iconContainer{
    /* min-width: 50px; */
    width: 200px;
    transition: 0.5s ease-in-out;
    
}

.iconContainer .icon{
    width: 60px;
    height: 50px;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer .icon svg{
    width: 30px;
    height: 30px;
    fill: rgb(248, 37, 37);
}

.iconContainer .icon-name{
    flex: 1;
    /* width: fit-content; */
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.336);
}
li:hover .iconContainer .icon-name{
    display: flex;
}
.icon-name h4{
    width: fit-content;
    font-size: 21px;
    font-family: poppinsLight;
    color: rgb(248, 37, 37);
    text-shadow: 1px 1px 3px rgba(112, 241, 26, 0.61);
    /* display: none; */
    /* opacity: 0; */
    
}
li:hover .iconContainer .icon-name h4{
    /* display: block; */
    animation: anmt 1s 1; 
}


@keyframes anmt {
    0%{
        /* opacity: 0; */
        /* visibility: hidden; */
        display: none;
    }
    30%{
        display: none;
    }
    
    100%{
        /* visibility: visible; */
        /* opacity: 1; */
        display: block;
    }
}

.container .listContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 40;
    overflow: hidden;
}
.listContainer .noteList-container{
    width: 670px;
    height: 400px;
    background-color: white;
    
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    overflow: auto;
    padding-bottom: 10px;
    z-index: 10;
    border: 15px solid white;
}



.container .noteList-container::-webkit-scrollbar-thumb{
    background-color: rgb(236, 234, 234);
    width: 4px;
}

.container .noteList-container::-webkit-scrollbar{
    width: 4px;
}

.noteList-container .close{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteList-container .close svg{
    width: 35px;
    height: 35px;
    fill: white;
}
.noteList-container .item{
    width: 200px;
    height: 170px;
    border-radius: 3px;
    /* background-color: brown; */
    margin: 6px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.671);
}

.item .item-text-container{
    width: 100%;
    height: 135px;
    /* background-color: blue; */
    padding: 10px;
}
.item .item-text-container p{
    font-size: 13px;
    font-family: poppins;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item .item-icons{
    width: 100%;
    height: 35px;
    background-color: chartreuse;
    display: flex;
}

.item-icons .items{
    flex: 1;
    height: 100%;
    background-color: rgb(236, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-icons .items:hover{
    background-color: rgb(182, 182, 182);
}

.item-icons .item-edit svg{
    width: 18px;
    fill: rgb(43, 40, 40);
}


.item-icons .item-delete svg{
    width: 13px;
    fill: rgb(43, 40, 40);
}

.notelist-title{
    display: none;
}

.item .item-text-container .date{
    display: none;
}

.item .item-text-container h5{
    font-size: 20px;
    font-family: poppins, sans-serif;
    width: fit-content;
    padding: 0;
    display: none;
}

.text-site input{
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    display: none;
}


@media screen and (max-width : 780px){

    .container{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .menu{
        position: absolute;
    }
    .menu .icons{
        width: 50px;
        height: 50px;
        background-color: brown;
        position: absolute;
        bottom: 20px;
        z-index: 20;

    }

    .addBtn.addNoteSite{
        width: 55px;
        height: 55px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 30px;
        bottom: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addBtn svg{
        width: 30px;
        fill: brown;
    }

    .addNoteSite{
        display: none;
    }
}




@media screen and (max-width : 10px) {

    main {
        width: 100%;
        height: 100%;
    }
    
    main .container{
        width: 100%;
        height: 100%;
        background-color: rgb(75, 48, 48);
        /* padding: 30px; */
        display: block;
        overflow: hidden;
        
    }
    .menu{
        position: absolute;
        width: 100%;
        height: 0px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .logo{
        position: absolute;
        display: none;
    }

    .menu .icons{
        width: 50px;
        height: 50px;
        /* background-color: brown; */
        position: absolute;
        bottom: 60px;
        z-index: 20;

    }
    
    .icons #notelist{
        display: none;
    }

    .icon .addNoteSite{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
    }

    .addNoteSite .iconContainer{
        width: 100%;
        background-color: transparent;
    }

    .iconContainer .icon-name{
        width: 0;
        height: 0;
        display: none;
    }
    li:hover .iconContainer .icon-name{
        width: 50px;
        height: 50px;
        display: none;
    }

    .icon-name h4{
        display: none;
    }




    .container .right-container{
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: none;
        flex-wrap: wrap;
        padding: 0px 10px;
        margin: 0;
        position: absolute;
        z-index: 21;
        /* overflow: auto; */
    }

    .right-container .note-container{
        width: 100%;
        height: 100%;
        background-color: #463232;
        margin: 0px;
        position: relative;
        border-radius: 5px;
    }

    /* .right-container .notetaking-title{
        width: 100%;
        height: 70px;
    } */

    .note-container .text-site {
        background-color: transparent;
        height: 100%;
    }

    .text-site input{
        width: 100%;
        padding: 15px;
        border: 0;
        outline: none;
        display: block;
        font-size: 30px;
        background-color: transparent;
    }

    .text-site textarea{
        width: 100%;
        height: calc(100% - 30px);
        padding: 10px 20px;
        border: 0;
        outline: 0;
        font-size: 15px;
        font-family: roboto, sans-serif;
        background-color: transparent;
    }

    .note-container .bar{
        width: 100%;
        height: 40px;
        background-color: white;
        border-top-left-radius: 5px;
        display: block;
        position: absolute;
        bottom: 0;
    }

    .note-container .bar .iconsSite{
        width: 100%;
        height: 100%;
        /* background-color: brown; */
        float: right;
        display: flex;
        justify-content: space-between;
        border-right: 3px solid white;
        /* margin-right: 5px; */
    }

    .iconsSite .con{
        width: 48%;
        flex: none;
        background-color: rgb(124, 44, 44);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        border-radius: 3px;
    }
    
    .iconsSite  .con:hover{
        background-color: rgb(117, 116, 116);
    }
    
    .iconsSite .saveCon svg, .closeCon svg{
        width: 12px;
        fill: white;
        margin: 0 5px;
    }

    .iconsSite .saveCon {
        background-color: blueviolet;
    }

    .iconsSite .closeCon {
        background-color: red;
    }

    .iconsSite .con p{
        color: white;
        font-family: poppins;
        padding: 0 2px;
    }
    .iconsSite .editCon svg{
        width: 15px;
        fill: white;
    }


    .icons li .iconContainer{
        /* min-width: 50px; */
        background-color: rgb(155, 26, 26);
        width: 100%;
        border-radius: 50%;
        
        
    }
    
    .icons li:hover .iconContainer{
        /* min-width: 50px; */
        width: 100%;
        
    }

    .iconContainer .icon svg{
        width: 30px;
        height: 30px;
        fill: rgb(255, 255, 255);
    }



    /* List of Notes */

    .container .listContainer{
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.425);
        z-index: 10;
        overflow: hidden;
    }

    .noteList-container .close{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .listContainer .noteList-container{
        width: 100%;
        height: 100%;
        background-color: white;
        display: block;
        border-radius: 3px;
        overflow: auto;
        padding-bottom: 10px;
        z-index: 10;
        border: 15px solid white;
    }

    .noteList-container .item{
        width: 100%;
        height: fit-content;
        position: relative;
        max-height: 150px;
        border-radius: 8px;
        background-color: rgb(241, 240, 240);
        margin: 6px 0;
        padding-bottom: 25px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.671);
    }

    .noteList-container .item svg{
        height: 20px;
        position: absolute;
        right: 20px;
        top: 12px;
        fill: rgb(46, 45, 45);
    }
    .item .item-text-container{
        width: 100%;
        height: 100%;
        /* background-color: blue; */
        padding: 10px 13px;
    }
    .item .item-text-container h5{
        font-size: 20px;
        font-family: poppins, sans-serif;
        width: fit-content;
        padding: 0;
        display: block;
    }
    .item .item-text-container p{
        font-size: 13px;
        font-family: poppins;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .item .item-text-container .date{
        float: right;
        padding: 10px 0px;
        color: rgb(134, 131, 131);
        display: block;
    }
    .item .item-icons{
        width: 100%;
        height: 35px;
        background-color: chartreuse;
        display: none;
    }

    .notelist-title{
        display: block;
        width: 100%;
        padding-bottom: 7px;
        /* height: 70px; */
        /* background-color: brown; */
    }

    .notelist-title h4{
        font-size: 40px;
        padding: 20px 5px;
        font-family: poppins;
    }
}




